<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser">Add New</b-button>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Login"
          label-for="login"
          :invalid-feedback="invalidFeedbackLogin"
          :valid-feedback="validFeedbackLogin"
          :state="stateLogin"
        >
          <b-form-input id="login" v-model="form.login" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Password:"
          label-for="password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input id="password" v-model="form.password" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Status:"
          label-for="status"
          :invalid-feedback="invalidFeedbackStatus"
          :valid-feedback="validFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-select
            id="status"
            v-model="form.status"
            :options="StatusOptions"
            required
          ></b-form-select></b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import userService from './UserService'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        login: '',
        password: '',
        status: ''
      },
      StatusOptions: [
        { text: 'Select One', value: null },
        { value: 'true', text: 'ถูก' },
        { value: 'false', text: 'ผิด' }
      ],
      userList: [],
      fields: ['_id', 'login', 'password', 'status', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New User')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit' + user)
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del' + user)
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.login + ' หรือไม่!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/users/' + user._id, this.form)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
            this.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        login: '',
        password: '',
        status: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        // delete this.form._id
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getUsers()
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateLogin () {
      return this.form.login.length >= 3
    },
    invalidFeedbackLogin () {
      if (this.form.login.length > 3) {
        return ''
      } else if (this.form.login.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ข้อมูล'
      }
    },
    validFeedbackLogin () {
      return this.stateLogin === true ? '' : ''
    },
    statePassword () {
      return this.form.password.length >= 3
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 3) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ข้อมูล'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? '' : ''
    },
    stateStatus () {
      return this.form.status != null
    },
    invalidFeedbackStatus () {
      if (this.form.status != null) {
        return ''
      } else {
        return 'กรุณาเลือกสถานะ'
      }
    },
    validFeedbackStatus () {
      return this.stateStatus === true ? '' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUsers()
  }
}
</script>
